{{<template/main}}
    {{$content}}

    <div id="page-container">
        <div class="grid-row">
            <div>
                <h1>Article creator</h1>

                {{> fragments/form}}

                <a href="/">Back to list</a>
            </div>
        </div>
    </div>
    <br />

    {{/content}}
{{/template/main}}

