{{<template/main}}
    {{$content}}

        <div id="page-container">
            <div class="grid-row">
                <div class="column-two-thirds">
                    <h1>Article details</h1>

                    <p>
                        <strong>Title:</strong>
                        {{article.title}}
                    </p>
                    <p>
                        <strong>Text:</strong>
                        {{article.text}}
                    </p>

                    <a href="/">Back to list</a>
                </div>
                <div class="column-one-third">
                    <h3>Additional actions</h3>
                    <a href="/{{article.id}}/edit">Edit article</a>
                </div>
            </div>
        </div>
        <br />

    {{/content}}
{{/template/main}}







