{{<template/main}}
    {{$content}}

    <div id="page-container">
        <div class="grid-row">
            <div class="column-two-thirds">
                <h1>Articles list</h1>
                <table>
                    <tr>
                        <th>Title</th>
                        <th>Text</th>
                    </tr>
                    {{#articles}}
                        <tr>
                            <td>{{title}}</td>
                            <td>{{text}}</td>
                            <td><a href="/{{id}}">Show</a></td>
                            <td><a href="/{{id}}/edit">Edit</a></td>
                        </tr>
                    {{/articles}}
                </table>
            </div>
            <div class="column-one-third">
                <h3>Additional actions</h3>
                <a href="/create">New article</a>
            </div>
        </div>
    </div>
    <br />

    {{/content}}
{{/template/main}}





