@-ms-viewport {
    width: device-width
}

@-o-viewport {
    width: device-width
}

@-ms-viewport {
    width: device-width
}

@-o-viewport {
    width: device-width
}

.grid-row:after {
    content: "";
    display: block;
    clear: both
}

#page-container {
    max-width: 960px;
    margin: 0 15px
}

@media (min-width: 641px) {
    #page-container {
        margin: 0 30px
    }
}

@media (min-width: 1020px) {
    #page-container {
        margin: 0 auto
    }
}

.grid-row {
    margin: 0 -15px
}

.grid-row .column-one-third {
    padding: 0 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

@media (min-width: 641px) {
    .grid-row .column-one-third {
        float: left;
        width: 33.33333%
    }
}

.grid-row .column-two-thirds {
    padding: 0 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

@media (min-width: 641px) {
    .grid-row .column-two-thirds {
        float: left;
        width: 66.66667%
    }
}

/*# sourceMappingURL=main.min.css.map */
