<form action="{{formAction}}" method="POST">
    <p>
        <label for="title-input">Title:</label>
        <input id="title-input" type="text" name="title" value="{{article.title}}" />
    </p>
    <p>
        <label for="text-input">Text:</label>
        <input id="text-input" type="text" name="text" value="{{article.text}}" />
    </p>
    <p>
        <input type="submit" value="Submit" />
    </p>
</form>